{% extends "main/base.html" %}

{% block content %}
<section class="article-width">
  {% for diary in diary_list %}
  <article>
    <section class="drawing">
      <img src="{{ diary.drawing.url }}">
    </section>
    <section class="diary">
      <div class="date">
        <p>{{ diary.date }}</p>
      </div>
      <div class="title">
        <h2>{{ diary.title }}</h2>
      </div>
      <div class="content">
        <p>{{ diary.content }}</p>
      </div>
    </section>
  </article>
  {% endfor %}
</section>
{% endblock %}
