{% extends "main/base.html" %}

{% block content %}
<section class="article-width">
  {% for diary in diary_list %}
  <article>
    <section class="drawing">
      <img src="{{ diary.drawing.url }}">
    </section>
    <section class="diary">
      <div class="date">
        <p>{{ diary.date }}</p>
      </div>
      <div class="title">
        <h2>{{ diary.title }}</h2>
      </div>
      <div class="content">
        <p>{{ diary.content }}</p>
      </div>
    </section>
  </article>
  {% endfor %}

  <section class="paginator">
    <div class="step-links">
      {% if diary_list.has_previous %}
      <a href="?page={{ diary_list.previous_page_number }}"><</a>
      {% endif %}

      <span class="current">
        {{ diary_list.number }} / {{ diary_list.paginator.num_pages }}
      </span>

      {% if diary_list.has_next %}
      <a href="?page={{ diary_list.next_page_number }}">></a>
      {% endif %}
    </div>
  </section>
</section>
{% endblock %}
